@model string
<div style="font-size:14px;">
    <div>Перейдите по нижеследующей ссылке, для активации аккаунта:</div>
    <div style='margin-top:15px;'><a href="@Model">Активация регистрации</a></div>
</div>
