@model string
<div style="font-size:14px;">
    <div>Перейдите по нижеследующей ссылке, для восстановления пароля:</div>
    <div style='margin-top:15px;'><a href="@Model">Восстановить пароль</a></div>
</div>
