@model SendLetterModel

<div style="font-size:14px;">
    <div>E-Mail: @Model.Email</div>
    <div style='margin-top:10px;'>Телефон: @Model.Phone</div>
    <div style="font-size:14px;margin-top:20px;white-space: pre-line;">@Model.Text</div>
</div>