@model string

<section class="jumbotron">
    @switch (Model)
    {
        case "404":
            <h2>Не найдено!</h2>
            <p>Запрашиваемая информация не найдена.</p>
            break;
        case "403":
            <h2>Запрещено!</h2>
            <p>У вас нет прав для доступа к запрашиваемому ресурсу.</p>
            break;
        case "server_exception":
            <h2>Ошибка!</h2>
            <p>Произошла внутренняя ошибка сервера.</p>
            break;
        default:
            <h2>Перегрузка!</h2>
            <p>Сервер перегружен, попробуйте зайти позднее или обратитесь к нам по телефону.</p>
            break;
    }
    <p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Перейти на главную</a>
    </p>
</section>