@{ 
    ViewBag.Title = "Панель администратора";
}
<h1 class="text-center">Администрирование</h1>
<div class="panel panel-default">
    <div class="panel-heading">Панель администратора</div>
    <div class="panel-body">
        <ul class="list-unstyled">
            <li>
                <a asp-action="Users">Пользователи</a>
            </li>
            <li>
                <a asp-action="Database">Управление базой данных</a>
            </li>
        </ul>
    </div>
</div>