@{
    ViewBag.Title = "Успешная регистрация";
}
<section class="jumbotron">
    <h2>Вы успешно зарегистрированы!</h2>
    <p>
        На ваш e-mail, указанный при регистрации, отправлено письмо, <span style="text-decoration: underline !important; font-weight: bold !important;">
        нажмите</span> в нем ссылку, чтобы подтвердить регистрацию, после подтверждения можете заходить в <strong>Личный кабинет</strong>.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Понятно, жду письма</a>
    </p>
</section>
