@{
    ViewBag.Title = "Код отослан";
}
<section class="jumbotron">
    <h2>Код восстановления отослан!</h2>
    <p>
        На ваш e-mail, был отослан код восстановления пароля, перейдите по ссылке в письме что бы продолжить восстановление.
    </p>
    <p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Понятно, жду письма</a>
    </p>
</section>
