@{
    ViewBag.Title = "Письмо отправлено";
}
<section class="jumbotron">
    <h2>Спасибо!</h2>
    <p>Ваше письмо успешно отправлено.</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/" role="button">Перейти на главную</a>
    </p>
</section>
